body {
  padding: 20px;
  height: 1000px;
  width:400px;
}

#child {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 300px;
    z-index: 1;
    background-color: green;
}

.showDiv {
   z-index:1000;
   width:30%;
   height:20px;
   color:white;
   margin-top: 5px;
   background-color:#009688; 
 } 

.showDiv:hover { 
  color:white; 
  background-color: #71d4f4;
}
